*{
    background-color: rgb(235, 245, 244);
    color:rgb(1, 66, 66);
}
.title{
    font-size: 15px;
    text-align: center;
    font-family:cursive;
}

.des{
    width:10cm;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .2cm;
    border-color: rgb(48, 48, 73);

}
.box{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 3cm;
    width: 10cm;
    border-radius: .2cm;
    border-color: rgb(48, 48, 73);

}
.btn{
    margin-top: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 73, 116);
    border-radius: .5cm;
    
    
}
.for{
    word-spacing: 3px;
    letter-spacing: 1px;

}
@media screen and (max-width: 600px) {
   .for{
    width: 50%;
    margin: 8px auto;
    margin-left:.5cm;
    }
    .box{
        width: 4cm;
    }
    .des{
        width: 4cm;
    }
    .btn{
        margin-left: .1cm;
    }
  }
  .map{
      border-radius: .5cm;
      border: 3px solid rgb(14, 14, 14) !important;
     
  }
  .left{
    width: 50% ;
    margin-left: 7%;
    float: left;
    margin-top: 1cm;
  }
  .right{
    margin-top: 1.8cm;
    margin-left: 10%;
    width: 25% ;
    float: left;
  }
 .container{
     width: 100%;
 }
 